Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat(backend): added case model to schema.prisma
  prisma/schema.prisma
Due: none

refactor(backend): moved case library
  libs/cases/backend/case-management/.eslintrc.json
  libs/cases/backend/case-management/README.md
  libs/cases/backend/case-management/jest.config.ts
  libs/cases/backend/case-management/project.json
  libs/cases/backend/case-management/src/index.ts
  libs/cases/backend/case-management/src/lib/case-managament.module.ts
  libs/cases/backend/case-management/tsconfig.json
  libs/cases/backend/case-management/tsconfig.lib.json
  libs/cases/backend/case-management/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: due date
  .eslintrc.json
  libs/cases/backend/case-management/src/lib/case-managament.module.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.ts
  libs/cases/backend/case-management/src/lib/interfaces/response.interface.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  package.json
  prisma/migrations/20240526155804_/migration.sql
  prisma/migrations/20240527090515_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  prisma/test.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: use dto, refactor schema, refactor service
  libs/cases/backend/case-management/src/lib/controller/case.controller.ts
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/backend/case-management/src/lib/dto/params.dto.ts
  libs/cases/backend/case-management/src/lib/interfaces/body.interface.ts
  libs/cases/backend/case-management/src/lib/interfaces/params.interface.ts
  libs/cases/backend/case-management/src/lib/interfaces/request.interface.ts
  libs/cases/backend/case-management/src/lib/interfaces/response.interface.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/common/backend/prisma/tsconfig.lib.json
  prisma/migrations/20240527090515_/migration.sql
  prisma/migrations/20240527121505_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: add test, fix naming
  apps/backend/src/app/app.module.ts
  libs/cases/backend/case-management/src/lib/case-managament.module.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.ts
  libs/cases/backend/case-management/src/lib/interfaces/response.interface.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: add whitelist
  apps/backend/src/main.ts
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: example data
  prisma/seed.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: do it with a directive
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/directives/back-button.directive.spec.ts
  libs/facilities/frontend/view/src/lib/directives/back-button.directive.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: unnecessary import
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: changed case interface to IP requirments and changed open cases to table
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/case.interface.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/const.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.spec.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: added facility in tiles to the right side of the create case overview
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: change lint rules, don't use directive
  .eslintrc.json
  libs/facilities/frontend/view/.eslintrc.json
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/directives/back-button.directive.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: revemoved debugging
  libs/cases/frontend/view/tsconfig.json
Due: nx format:write --uncommitted

refactor: slim migration
  prisma/migrations/20240518135950_time_series/migration.sql
  prisma/migrations/20240518182201_timeseries/migration.sql
Due: none

feat: add transform for request & add get all timeseries
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(common-backend-prisma): prisma
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: small type fail Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/timeseries/src/lib/interfaces/response.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: solve testing, lint errors
  .eslintrc.json
  libs/common/shared/models/project.json
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: refactor time series Service so its tests work Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/common/backend/prisma/src/lib/index.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/common/backend/prisma/src/lib/types/index.ts
  libs/common/backend/prisma/src/lib/types/timeseries.types.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: init branch
  prisma/schema.prisma
Due: none

refactor: rm insight hub from #29 Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(common-backend-prisma): primsa libadd prisma lib and clients
  libs/common/backend/prisma/.eslintrc.json
  libs/common/backend/prisma/README.md
  libs/common/backend/prisma/jest.config.ts
  libs/common/backend/prisma/project.json
  libs/common/backend/prisma/src/index.ts
  libs/common/backend/prisma/src/lib/index.ts
  libs/common/backend/prisma/src/lib/prisma.module.ts
  libs/common/backend/prisma/src/lib/services/index.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/common/backend/prisma/tsconfig.json
  libs/common/backend/prisma/tsconfig.lib.json
  libs/common/backend/prisma/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: solve testing, lint errors
  pnpm-lock.yaml
Due: none

refactor: add timeseries Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  .eslintrc.json
  apps/backend/src/app/app.module.ts
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): insight hub config
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: add timeseries Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/timeseries/src/index.ts
  libs/facilities/backend/timeseries/src/lib/controller/pump.controller.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/request.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/pump.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: husky
  package.json
Due: nx format:write --uncommitted

fix: add tsconfig fix
  apps/backend/src/app/app.module.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add validation for api
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: start with controller :construction:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(common-backend-models): insight hub config
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: test fix prisma
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: timeseries lib
  libs/facilities/backend/timeseries/.eslintrc.json
  libs/facilities/backend/timeseries/README.md
  libs/facilities/backend/timeseries/jest.config.ts
  libs/facilities/backend/timeseries/project.json
  libs/facilities/backend/timeseries/src/index.ts
  libs/facilities/backend/timeseries/src/lib/controller/pump.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/request.interface.ts
  libs/facilities/backend/timeseries/src/lib/pump.module.ts
  libs/facilities/backend/timeseries/src/lib/services/pump.service.ts
  libs/facilities/backend/timeseries/tsconfig.json
  libs/facilities/backend/timeseries/tsconfig.lib.json
  libs/facilities/backend/timeseries/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: testing :boom:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/respons.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(frontend): Added simple backend fetch in Details Page
  apps/backend/src/main.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/app.config.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/services/timeseries-fetch.service.spec.ts
  libs/facilities/frontend/view/src/lib/services/timeseries-fetch.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): primsa Add timeseries data types
  .idea/dbnavigator.xml
  apps/backend/project.json
  docker-compose.yml
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/common/shared/models/src/lib/interfaces/index.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item-data.interface.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item.interface.ts
  libs/facilities/shared/models/.eslintrc.json
  libs/facilities/shared/models/README.md
  libs/facilities/shared/models/jest.config.ts
  libs/facilities/shared/models/project.json
  libs/facilities/shared/models/src/index.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.css
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.html
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.ts
  libs/facilities/shared/models/src/test-setup.ts
  libs/facilities/shared/models/tsconfig.json
  libs/facilities/shared/models/tsconfig.lib.json
  libs/facilities/shared/models/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240509211327_/migration.sql
  prisma/migrations/20240518125118_timeseries/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: put utility function inside prismaService :construction:
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  prisma/demo_data/PUMP-010_Environment_20240422-220000000_20240423-220000000.json
  prisma/demo_data/PUMP-010_PumpData_20240422-220000000_20240423-220000000.json
  prisma/migrations/20240521155542_/migration.sql
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: add pnpm lock after rebase
  pnpm-lock.yaml
Due: none

feat(prisma): prisma schemes
  .idea/dbnavigator.xml
  commitlint.config.js
  prisma/migrations/20240518135950_time_series/migration.sql
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Path conditions:
  nx affected --target lint --uncommitted: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: ((any of: *.{html,ts,js,mjs}) or (any of: *.{json,md,yml})) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
