Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

chore: change the test as requested by David
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.spec.ts
Due: nx affected --target eslint --fix

feat/xd-82: get chart data from the backend, delete chart componen and facility.mocks/charts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.html
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.scss
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/chart.interfaces.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/envData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/pumpData.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat/xd-82: make charts look nice #82
  libs/facilities/frontend/view/src/lib/components/detail/colors.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat/xd-82: actually use item.time now that Jonas fixed it #82
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat/xd-82: I forgot to add the title, note: I forgot to sign off the last commits. I basically did everything on the details page (the charts)
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat/xd-82: get changes from develop
  libs/cases/frontend/domain/src/lib/application/facades/cases.facade.spec.ts
  libs/cases/frontend/domain/src/lib/application/facades/cases.facade.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

feat: get all changes from the messed up feat/xd-82 branch
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/index.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/facilities-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/facilities-request.service.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.html
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.scss
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/colors.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/chart.interfaces.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/envData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/pumpData.ts
  libs/facilities/shared/models/src/lib/interfaces/params.interface.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

chore: remove the insanely big icons (I have no idea why they are there)
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target eslint --fix

feat(cases-shared-models): move case to shared folfer
  apps/backend/Dockerfile
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.spec.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/interfaces/case-form-data.interface.ts
  libs/cases/shared/models/src/lib/enums/case-priority.enum.ts
  libs/cases/shared/models/src/lib/enums/case-status.enum.ts
  libs/cases/shared/models/src/lib/enums/case-type.enum.ts
  libs/cases/shared/models/src/lib/enums/index.ts
  libs/cases/shared/models/src/lib/index.ts
  libs/cases/shared/models/src/lib/interfaces/body.interface.ts
  libs/cases/shared/models/src/lib/interfaces/response.interface.ts
  libs/facilities/shared/models/src/lib/enums/case-status.enum.ts
  libs/facilities/shared/models/src/lib/enums/index.ts
  libs/facilities/shared/models/src/lib/index.ts
Due: nx affected --target eslint --fix

build: allow to import cases
  .eslintrc.json
Due: nx format:write --uncommitted

refactor(backend): swaggerRemove usued services and integrate swagger
  apps/backend/src/app/app.controller.spec.ts
  apps/backend/src/app/app.controller.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.spec.ts
  apps/backend/src/app/app.service.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
Due: nx affected --target eslint --fix

feat(backend): integrate swagger
  apps/backend/project.json
  apps/backend/src/main.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat(backend): integrate swagger
  apps/backend/src/main.ts
Due: nx affected --target eslint --fix

feat(common-backend-swagger): integrate swagger
  libs/common/backend/swagger/.eslintrc.json
  libs/common/backend/swagger/README.md
  libs/common/backend/swagger/assets/siemens-logo.png
  libs/common/backend/swagger/jest.config.ts
  libs/common/backend/swagger/project.json
  libs/common/backend/swagger/src/index.ts
  libs/common/backend/swagger/src/lib/const/swagger-tag-information.const.ts
  libs/common/backend/swagger/src/lib/enums/index.ts
  libs/common/backend/swagger/src/lib/enums/swagger-tag.enum.ts
  libs/common/backend/swagger/src/lib/index.ts
  libs/common/backend/swagger/src/lib/interfaces/swagger-tag-information.interface.ts
  libs/common/backend/swagger/src/lib/swagger-document-builder.ts
  libs/common/backend/swagger/src/lib/swagger-ui.class.ts
  libs/common/backend/swagger/tsconfig.json
  libs/common/backend/swagger/tsconfig.lib.json
  libs/common/backend/swagger/tsconfig.spec.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat(common-backend-swagger): controller
  libs/common/backend/swagger/src/lib/enums/swagger-tag.enum.ts
  libs/common/backend/swagger/src/lib/interfaces/swagger-tag-information.interface.ts
  libs/common/backend/swagger/src/lib/swagger-document-builder.ts
  libs/common/backend/swagger/src/lib/swagger-ui.class.ts
Due: nx affected --target eslint --fix

feat(common-backend-swagger): controller
  libs/cases/backend/case-management/src/lib/controller/case.controller.ts
  libs/cases/backend/case-management/src/lib/dto/params.dto.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/swagger.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/swagger.interface.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
Due: nx affected --target eslint --fix

refactor: libs, env example
  .env.example
  apps/backend/src/app/app.module.ts
  apps/backend/src/main.ts
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

refactor: case detail route, create case #160
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
Due: nx affected --target eslint --fix

refactor: case detail route, create case #160
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/index.ts
  libs/cases/frontend/view/src/lib/components/cases-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/cases-browse/case-browse.component.scss
  libs/cases/frontend/view/src/lib/components/cases-browse/case-browse.component.spec.ts
  libs/cases/frontend/view/src/lib/components/cases-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/cases-browse/index.ts
  libs/cases/frontend/view/src/lib/components/index.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: added the resizeObserver to Type Selection and Priority Selection #80
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/interfaces/case-form-data.interface.ts
Due: nx affected --target eslint --fix

fix: fixed Lint
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

chore: add descriptions and other changes requested
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/facilities-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

chore: add descriptions and other changes requested
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target eslint --fix

fix: imports and backend call (lowercase p in pumpData caused problems in the backend) #82
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

fix: timeseries when called with wrong cased attributes
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target eslint --fix

refactor: remove console log and import fails
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target eslint --fix

docs: add swagger document
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
Due: nx affected --target eslint --fix

docs: integrate swagger into README
  README.md
Due: nx format:write --uncommitted

Create feature-board.csv
  Deliverables/sprint-08/feature-board.csv
Due: none

Add files via upload
  Deliverables/sprint-08/feature-board.png
Due: none

Add files via upload
  Deliverables/sprint-08/planning-documents.pdf
Due: none

feat: added functional delete button #161
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

feat: deleted issues page and instead added the filter
  apps/frontend/src/app/components/header/header.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.scss
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.spec.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/case-browse/index.ts
  libs/cases/frontend/view/src/lib/components/index.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/facility.mocks/const.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/facility.interface.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/facility.variant.ts
  libs/facilities/frontend/view/src/lib/components/index.ts
  libs/facilities/frontend/view/src/lib/components/issues/index.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.scss
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

fix: actually redirect to the detail page from the cases browse page
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
Due: nx affected --target eslint --fix

feat: remove the facilities/issues on the home component
  apps/frontend/src/app/pages/home/home.component.html
Due: nx affected --target eslint --fix

fix: I
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
Due: nx affected --target eslint --fix

Path conditions:
  nx affected --target eslint --fix: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: (any of: *.{json,md,yml}) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
