Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: 154: restored scss
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.scss
Due: nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: changed the validation to be solid
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

Add files via upload
  Deliverables/sprint-08/amos2023ss01-imp-squared-backlog.png.png
Due: none

refactor: case detail route, create case
  libs/cases/frontend/view/src/lib/components/cases-browse/index.ts
Due: nx affected --target eslint --fix

feat: single commit
  libs/facilities/backend/models/.eslintrc.json
  libs/facilities/backend/models/project.json
  libs/facilities/backend/models/tsconfig.json
  libs/facilities/backend/models/tsconfig.lib.json
  libs/facilities/backend/models/tsconfig.spec.json
  libs/facilities/backend/utils/.eslintrc.json
  libs/facilities/backend/utils/project.json
  libs/facilities/backend/utils/src/lib/pump/pump-analyse.utils.spec.ts
  libs/facilities/backend/utils/tsconfig.json
  libs/facilities/backend/utils/tsconfig.lib.json
  libs/facilities/backend/utils/tsconfig.spec.json
  libs/facilities/frontend/models/.eslintrc.json
  libs/facilities/frontend/models/project.json
  libs/facilities/frontend/models/tsconfig.json
  libs/facilities/frontend/models/tsconfig.lib.json
  libs/facilities/frontend/models/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat: integrate pump status
  prisma/migrations/20240620222341_/migration.sql
  prisma/schema.prisma
Due: none

chore: add descriptions and other changes requested
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
Due: nx affected --target eslint --fix

feat: get all changes from the messed up feat/xd-82 branch
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
Due: nx affected --target eslint --fix

feat: integrate status
  apps/backend/src/app/app.module.ts
  apps/frontend/src/app/pages/home/home.component.spec.ts
  libs/common/shared/models/src/lib/index.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/facility.interface.ts
  libs/facilities/shared/models/src/lib/interfaces/response.interface.ts
  prisma/README.md
  prisma/migrations/20240620222341_/migration.sql
  prisma/migrations/20240621010511_/migration.sql
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat: integrate status
  apps/backend/src/app/app.module.ts
  apps/frontend/src/app/pages/home/home.component.spec.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/common/backend/swagger/src/lib/swagger-document-builder.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat: integrate metrics to schema
  prisma/migrations/20240620222341_/migration.sql
  prisma/migrations/20240621010511_/migration.sql
  prisma/migrations/20240625190103_/migration.sql
  prisma/migrations/20240625190245_/migration.sql
  prisma/migrations/20240625190500_/migration.sql
  prisma/migrations/20240625191344_/migration.sql
  prisma/migrations/20240625191546_/migration.sql
  prisma/migrations/20240625201404_/migration.sql
  prisma/migrations/20240625201916_/migration.sql
  prisma/migrations/20240625210808_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: nx affected --target eslint --fix

fix(cases-frontend-view): remove ghost attribute
  apps/frontend/src/app/pages/home/home.component.spec.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.ts
  libs/facilities/backend/models/project.json
  libs/facilities/backend/models/src/index.ts
  libs/facilities/backend/models/src/lib/enums/index.ts
  libs/facilities/backend/models/src/lib/index.ts
  libs/facilities/backend/models/src/lib/interfaces/index.ts
  libs/facilities/backend/models/src/lib/interfaces/pump-statistic-report.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/utils/src/lib/pump/pump-analyse.utils.spec.ts
  libs/facilities/backend/utils/src/lib/pump/pump-analyse.utils.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/models/src/lib/const/status-to-color.record.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/shared/models/src/lib/enums/index.ts
  libs/facilities/shared/models/src/lib/enums/pump-indicator-message.enum.ts
  libs/facilities/shared/models/src/lib/enums/pump-metrics-name.enum.ts
  libs/facilities/shared/models/src/lib/enums/pump-status.enum.ts
  libs/facilities/shared/models/src/lib/interfaces/index.ts
  libs/facilities/shared/models/src/lib/interfaces/pump-data-analysis.interface.ts
  libs/facilities/shared/models/src/lib/interfaces/pump-metrics.interface.ts
  libs/facilities/shared/models/src/lib/interfaces/pump-timeseries.interface.ts
  libs/facilities/shared/models/src/lib/interfaces/response.interface.ts
  libs/facilities/shared/models/src/lib/interfaces/statistical-variance.interface.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target eslint --fix, nx format:write --uncommitted

refactor: rebase
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
Due: nx affected --target eslint --fix

fix: fixed failing test or DeleteModal
  libs/cases/frontend/view/src/lib/components/detail-case/delete-modal/deleteModal.component.spec.ts
Due: nx affected --target eslint --fix

Feat(Sprint9): Upload documentation
  Deliverables/sprint-09/feature-board.csv
  Deliverables/sprint-09/feature-board.png
  Deliverables/sprint-09/planning-document.pdf
Due: none

Add files via upload
  Deliverables/sprint-09/amos2023ss01-imp-squared-backlog.png.png
Due: none

Feat(PlanningDoc): Upload full planning doc
  Deliverables/sprint-09/planning-document.pdf
Due: none

fix: husky
  .lintstagedrc.yml
Due: nx format:write --uncommitted

refactor(backend): swagger fallback value
  .lintstagedrc.yml
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/validation.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted

refactor(backend): swagger fallback value
  apps/backend/src/app/app.module.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
Due: nx affected --target eslint --fix

feat: added the refresh button
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
Due: nx affected --target eslint --fix

refactor: simplify how breadcrumbs work
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.spec.ts
  apps/frontend/src/app/components/header/header.component.ts
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
Due: nx affected --target eslint --fix

refactor: rename the "browseFacadesService" that is responsible for cases to "casesFacade"
  libs/cases/frontend/domain/src/lib/application/facades/cases.facade.spec.ts
  libs/cases/frontend/domain/src/lib/application/facades/cases.facade.ts
  libs/cases/frontend/domain/src/lib/application/facades/index.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

refactor: change title depending on the facility/case
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/app/pages/home/home.component.html
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

fix: tests
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.spec.ts
Due: nx affected --target eslint --fix

fix: remove ;
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target eslint --fix

feat: 143: added toggle for theme switching to the navigation menu
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.scss
  libs/cases/shared/models/src/lib/styles/case.scss
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

Delete libs/cases/shared/models/src/lib/styles directory
  libs/cases/shared/models/src/lib/styles/case.scss
Due: nx format:write --uncommitted, nx affected --target stylelint --fix

Delete libs/cases/frontend/view/src/lib/components/cases-browse directory
  libs/cases/frontend/view/src/lib/components/cases-browse/index.ts
Due: nx affected --target eslint --fix

feat: added the home button in the header component and adjusted the routing
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/components/header/header.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
Due: nx affected --target eslint --fix

Update header.component.ts
  apps/frontend/src/app/components/header/header.component.ts
Due: nx affected --target eslint --fix

refactor(frontend): restored selection header to facility select in create case page
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
Due: nx affected --target eslint --fix

refactor: change title depending on the facility/case
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/app/pages/home/home.component.html
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

fix: tests
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.spec.ts
Due: nx affected --target eslint --fix

Path conditions:
  nx affected --target eslint --fix: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: (any of: *.{json,md,yml}) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
