Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

.lintstagedrc.yml:

'*.{html,ts,js,mjs}':
    - nx affected --target lint --uncommitted
    - nx format:write --uncommitted
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix
    - nx format:write --uncommitted

build: rename tier to kind
  .eslintrc.json
Due: nx format:write --uncommitted

feat: added favicon
  apps/frontend/src/favicon.ico
Due: none

refactor: fixed some smaller problems
  apps/frontend/src/app/components/header/header.component.html
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/const.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/facility.interface.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/facility.variant.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.html
  package.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: actually change package.json back #44
  package.json
Due: nx format:write --uncommitted

feat: added example pages and routing for facilities and work orders #44
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/main.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.ts
  libs/facilities/frontend/view/src/lib/components/index.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.html
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.ts
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.html
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.html
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.ts
  libs/orders/frontend/view/src/lib/components/orders.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: remove unused menu component, fix lint and test
  apps/frontend/src/app/components/menu/menu.component.html
  apps/frontend/src/app/components/menu/menu.component.scss
  apps/frontend/src/app/components/menu/menu.component.spec.ts
  apps/frontend/src/app/components/menu/menu.component.ts
  apps/frontend/src/app/layouts/root.layout.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: started with the header and set up orders-view(libs) #44
  apps/frontend/src/app/components/header/header.component.html
  libs/orders/frontend/shell/src/lib/shell.routes.ts
  libs/orders/frontend/view/.eslintrc.json
  libs/orders/frontend/view/README.md
  libs/orders/frontend/view/jest.config.ts
  libs/orders/frontend/view/project.json
  libs/orders/frontend/view/src/index.ts
  libs/orders/frontend/view/src/lib/view/view.component.html
  libs/orders/frontend/view/src/lib/view/view.component.scss
  libs/orders/frontend/view/src/lib/view/view.component.spec.ts
  libs/orders/frontend/view/src/lib/view/view.component.ts
  libs/orders/frontend/view/src/test-setup.ts
  libs/orders/frontend/view/tsconfig.json
  libs/orders/frontend/view/tsconfig.lib.json
  libs/orders/frontend/view/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

chore: fix lint and tests
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.spec.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.spec.ts
  package.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: no ngfor
  apps/frontend/src/app/components/header/header.component.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: reuse BrowsePage in issues.page.html, breadcrumbs for new pages, diagram image, other changes
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/assets/diagram.png
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
  libs/orders/frontend/shell/src/lib/shell.routes.ts
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.html
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.html
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

revert: ups
  package.json
Due: nx format:write --uncommitted

feat: move hard coded data from html files into a central file and implement basic filter
  apps/frontend/src/app/components/header/header.component.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/index.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: set facilities/issues as default url
  apps/frontend/src/main.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: fix some of the things David requested in the review
  apps/frontend/src/app/layouts/root.layout.html
  apps/frontend/src/app/layouts/root.layout.scss
  apps/frontend/src/app/layouts/root.layout.spec.ts
  apps/frontend/src/app/layouts/root.layout.ts
  libs/facilities/frontend/view/README.md
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.html
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

build(orders-frontend-view): change tier to kind
  libs/orders/frontend/view/project.json
Due: nx format:write --uncommitted

ci: lint test build Just test affected branches Co-authered-by: Jonas <jonas@mennicke.com>
  .github/workflows/lint-test-build.yml
Due: nx format:write --uncommitted

Revert "ci: lint test build"
  .github/workflows/lint-test-build.yml
Due: nx format:write --uncommitted

ci: lint test build
  .github/workflows/lint-test-build.yml
Due: nx format:write --uncommitted

feat: show example chart and begin to work on better routing
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/models/interceptors/facility-detail.interceptor.ts
  apps/frontend/tailwind.config.js
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: init branch
  prisma/schema.prisma
Due: none

feat: init branch
  apps/backend/src/app/config/validation.ts
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): primsa Add timeseries data types
  .idea/dbnavigator.xml
  apps/backend/project.json
  docker-compose.yml
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/common/shared/models/src/lib/interfaces/index.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item-data.interface.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item.interface.ts
  libs/facilities/shared/models/.eslintrc.json
  libs/facilities/shared/models/README.md
  libs/facilities/shared/models/jest.config.ts
  libs/facilities/shared/models/project.json
  libs/facilities/shared/models/src/index.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.css
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.html
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.ts
  libs/facilities/shared/models/src/test-setup.ts
  libs/facilities/shared/models/tsconfig.json
  libs/facilities/shared/models/tsconfig.lib.json
  libs/facilities/shared/models/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240509211327_/migration.sql
  prisma/migrations/20240518125118_timeseries/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  libs/facilities/backend/pump/.eslintrc.json
  libs/facilities/backend/pump/README.md
  libs/facilities/backend/pump/jest.config.ts
  libs/facilities/backend/pump/project.json
  libs/facilities/backend/pump/src/index.ts
  libs/facilities/backend/pump/src/lib/controller/pump.controller.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/backend/pump/src/lib/services/pump.service.ts
  libs/facilities/backend/pump/tsconfig.json
  libs/facilities/backend/pump/tsconfig.lib.json
  libs/facilities/backend/pump/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(prisma): prisma schemes
  .idea/dbnavigator.xml
  commitlint.config.js
  prisma/migrations/20240518135950_time_series/migration.sql
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(common-backend-prisma): primsa libadd prisma lib and clients
  libs/common/backend/prisma/.eslintrc.json
  libs/common/backend/prisma/README.md
  libs/common/backend/prisma/jest.config.ts
  libs/common/backend/prisma/project.json
  libs/common/backend/prisma/src/index.ts
  libs/common/backend/prisma/src/lib/index.ts
  libs/common/backend/prisma/src/lib/prisma.module.ts
  libs/common/backend/prisma/src/lib/services/index.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/common/backend/prisma/tsconfig.json
  libs/common/backend/prisma/tsconfig.lib.json
  libs/common/backend/prisma/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted
