Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

.lintstagedrc.yml:

'*.{html,ts,js,mjs}':
    - nx affected --target lint --uncommitted
    - nx format:write --uncommitted
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix
    - nx format:write --uncommitted

feat: start working on order form
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.html
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.ts
  libs/orders/frontend/view/src/lib/components/order.mocks/const.ts
  libs/orders/frontend/view/src/lib/components/order.mocks/order.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: added form; TODO: fix ix-select validation and design
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.html
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: fixed the import * error
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Create a
  Deliverables/sprint-04/a
Due: none

Add files via upload
  Deliverables/sprint-04/amos2023ss01-imp-squared-backlog.png.png
Due: none

Delete Deliverables/sprint-04/a
  Deliverables/sprint-04/a
Due: none

Add files via upload
  Deliverables/sprint-04/feature-board.csv
Due: none

Add files via upload
  Deliverables/sprint-04/feature-board.png
Due: none

Add files via upload
  Deliverables/sprint-04/planning-documents.pdf
Due: none

feat(backend): add envs of insight hub
  .env.example
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/config.interface.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Revert "feat(backend): add envs of insight hub"
  .env.example
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/config.interface.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): add envs of insight hub
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(common-backend-models): insight hub
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/config.interface.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

ci: tsconfig, env example
  .env.example
  tsconfig.base.json
Due: nx format:write --uncommitted

ci: tsconfig, env example
  package.json
  pnpm-lock.yaml
Due: nx format:write --uncommitted

feat: 76 added the icon again
  apps/frontend/src/favicon.ico
Due: none

fix: 76 fixed issues with the breadcrumbs and wrong routing
  .eslintrc.json
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: comment
  libs/cases/frontend/shell/src/lib/shell.routes.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Create dummy
  Deliverables/sprint-05/dummy
Due: none

Delete Deliverables/sprint-05/dummy
  Deliverables/sprint-05/dummy
Due: none

feat: add back button
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: init branch
  apps/backend/src/app/config/validation.ts
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: init branch
  prisma/schema.prisma
Due: none

feat(backend): primsa Add timeseries data types
  .idea/dbnavigator.xml
  apps/backend/project.json
  docker-compose.yml
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/common/shared/models/src/lib/interfaces/index.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item-data.interface.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item.interface.ts
  libs/facilities/shared/models/.eslintrc.json
  libs/facilities/shared/models/README.md
  libs/facilities/shared/models/jest.config.ts
  libs/facilities/shared/models/project.json
  libs/facilities/shared/models/src/index.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.css
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.html
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.ts
  libs/facilities/shared/models/src/test-setup.ts
  libs/facilities/shared/models/tsconfig.json
  libs/facilities/shared/models/tsconfig.lib.json
  libs/facilities/shared/models/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240509211327_/migration.sql
  prisma/migrations/20240518125118_timeseries/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat(common-backend-prisma): primsa libadd prisma lib and clients
  libs/common/backend/prisma/.eslintrc.json
  libs/common/backend/prisma/README.md
  libs/common/backend/prisma/jest.config.ts
  libs/common/backend/prisma/project.json
  libs/common/backend/prisma/src/index.ts
  libs/common/backend/prisma/src/lib/index.ts
  libs/common/backend/prisma/src/lib/prisma.module.ts
  libs/common/backend/prisma/src/lib/services/index.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/common/backend/prisma/tsconfig.json
  libs/common/backend/prisma/tsconfig.lib.json
  libs/common/backend/prisma/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  libs/facilities/backend/pump/.eslintrc.json
  libs/facilities/backend/pump/README.md
  libs/facilities/backend/pump/jest.config.ts
  libs/facilities/backend/pump/project.json
  libs/facilities/backend/pump/src/index.ts
  libs/facilities/backend/pump/src/lib/controller/pump.controller.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/backend/pump/src/lib/services/pump.service.ts
  libs/facilities/backend/pump/tsconfig.json
  libs/facilities/backend/pump/tsconfig.lib.json
  libs/facilities/backend/pump/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(prisma): prisma schemes
  .idea/dbnavigator.xml
  commitlint.config.js
  prisma/migrations/20240518135950_time_series/migration.sql
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: solve testing, lint errors
  pnpm-lock.yaml
Due: none

test: solve testing, lint errors
  .eslintrc.json
  libs/common/shared/models/project.json
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: slim migration
  prisma/migrations/20240518135950_time_series/migration.sql
  prisma/migrations/20240518182201_timeseries/migration.sql
Due: none

fix: prisma schema
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  prisma/migrations/20240518182201_timeseries/migration.sql
  prisma/migrations/20240518183644_timeseries/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: add tsconfig fix
  apps/backend/src/app/app.module.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: add tsconfig fix
  apps/backend/src/app/app.module.ts
  apps/backend/webpack.config.js
  libs/common/backend/prisma/project.json
  libs/common/backend/prisma/src/lib/prisma.module.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: remove pump lib Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/pump/.eslintrc.json
  libs/facilities/backend/pump/README.md
  libs/facilities/backend/pump/jest.config.ts
  libs/facilities/backend/pump/project.json
  libs/facilities/backend/pump/src/index.ts
  libs/facilities/backend/pump/src/lib/controller/pump.controller.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/backend/pump/src/lib/services/pump.service.ts
  libs/facilities/backend/pump/tsconfig.json
  libs/facilities/backend/pump/tsconfig.lib.json
  libs/facilities/backend/pump/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(common-backend-prisma): prisma
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted
