Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

test: solve testing, lint errors
  pnpm-lock.yaml
Due: none

test: solve testing, lint errors
  .eslintrc.json
  libs/common/shared/models/project.json
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: slim migration
  prisma/migrations/20240518135950_time_series/migration.sql
  prisma/migrations/20240518182201_timeseries/migration.sql
Due: none

fix: prisma schema
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  prisma/migrations/20240518182201_timeseries/migration.sql
  prisma/migrations/20240518183644_timeseries/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: add tsconfig fix
  apps/backend/src/app/app.module.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: add tsconfig fix
  apps/backend/src/app/app.controller.spec.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.spec.ts
  apps/backend/webpack.config.js
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/components/header/header.component.spec.ts
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/app/pages/not-found/not-found.component.spec.ts
  apps/frontend/src/app/pages/not-found/not-found.component.ts
  libs/common/backend/prisma/project.json
  libs/common/backend/prisma/src/lib/prisma.module.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.ts
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.spec.ts
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.ts
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.spec.ts
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.spec.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: husky
  package.json
Due: nx format:write --uncommitted

fix: lint
  tsconfig.base.json
Due: nx format:write --uncommitted

feat(backend): insight hub config
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(common-backend-models): insight hub config
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(common-backend-prisma): prisma
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: timeseries lib
  libs/facilities/backend/timeseries/.eslintrc.json
  libs/facilities/backend/timeseries/README.md
  libs/facilities/backend/timeseries/jest.config.ts
  libs/facilities/backend/timeseries/project.json
  libs/facilities/backend/timeseries/src/index.ts
  libs/facilities/backend/timeseries/src/lib/controller/pump.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/request.interface.ts
  libs/facilities/backend/timeseries/src/lib/pump.module.ts
  libs/facilities/backend/timeseries/src/lib/services/pump.service.ts
  libs/facilities/backend/timeseries/tsconfig.json
  libs/facilities/backend/timeseries/tsconfig.lib.json
  libs/facilities/backend/timeseries/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: style and size everything, add lock card
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: remove pump lib Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/pump/.eslintrc.json
  libs/facilities/backend/pump/README.md
  libs/facilities/backend/pump/jest.config.ts
  libs/facilities/backend/pump/project.json
  libs/facilities/backend/pump/src/index.ts
  libs/facilities/backend/pump/src/lib/controller/pump.controller.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/backend/pump/src/lib/services/pump.service.ts
  libs/facilities/backend/pump/tsconfig.json
  libs/facilities/backend/pump/tsconfig.lib.json
  libs/facilities/backend/pump/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: actually fix styling
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: added list/card view #62
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/const.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: add timeseries Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/timeseries/src/index.ts
  libs/facilities/backend/timeseries/src/lib/controller/pump.controller.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/request.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/pump.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: added routing for login/register page started with the frontend page - not the final version #55
  apps/frontend/src/app/app.routes.ts
  libs/account/frontend/shell/.eslintrc.json
  libs/account/frontend/shell/README.md
  libs/account/frontend/shell/jest.config.ts
  libs/account/frontend/shell/project.json
  libs/account/frontend/shell/src/index.ts
  libs/account/frontend/shell/src/lib/index.ts
  libs/account/frontend/shell/src/lib/shell.routes.ts
  libs/account/frontend/shell/src/test-setup.ts
  libs/account/frontend/shell/tsconfig.json
  libs/account/frontend/shell/tsconfig.lib.json
  libs/account/frontend/shell/tsconfig.spec.json
  libs/account/frontend/view/.eslintrc.json
  libs/account/frontend/view/README.md
  libs/account/frontend/view/jest.config.ts
  libs/account/frontend/view/project.json
  libs/account/frontend/view/src/index.ts
  libs/account/frontend/view/src/lib/components/index.ts
  libs/account/frontend/view/src/lib/components/login/index.ts
  libs/account/frontend/view/src/lib/components/login/login.page.html
  libs/account/frontend/view/src/lib/components/login/login.page.scss
  libs/account/frontend/view/src/lib/components/login/login.page.spec.ts
  libs/account/frontend/view/src/lib/components/login/login.page.ts
  libs/account/frontend/view/src/lib/components/register/index.ts
  libs/account/frontend/view/src/lib/components/register/register.page.html
  libs/account/frontend/view/src/lib/components/register/register.page.scss
  libs/account/frontend/view/src/lib/components/register/register.page.spec.ts
  libs/account/frontend/view/src/lib/components/register/register.page.ts
  libs/account/frontend/view/src/test-setup.ts
  libs/account/frontend/view/tsconfig.json
  libs/account/frontend/view/tsconfig.lib.json
  libs/account/frontend/view/tsconfig.spec.json
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: added routing for login/register page started with the frontend page - not the final version #55
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: add timeseries Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  .eslintrc.json
  apps/backend/src/app/app.module.ts
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add validation for api
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add transform for request & add get all timeseries
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: from promise to observable...
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/respons.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add Modal not fully functional yet
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.html
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.scss
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/chartdata/PUMP-002_Environment_20240422-220000000_20240423-220000000.json
  libs/facilities/frontend/view/src/lib/components/facility.mocks/chartdata/PUMP-002_PumpData_20240422-220000000_20240423-220000000.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

test: testing :boom:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/respons.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: start with controller :construction:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: get locked to work using BehaviorSubject and fix lint
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.html
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: finally actually fix lint (for some reason intellij never actually pushed it)
  apps/backend/src/app/app.controller.spec.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.spec.ts
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/components/header/header.component.spec.ts
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/app/pages/not-found/not-found.component.spec.ts
  apps/frontend/src/app/pages/not-found/not-found.component.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.spec.ts
  libs/orders/frontend/view/src/lib/components/create-order/create-order.component.ts
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.spec.ts
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.spec.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: continue work on details view, still not getting the real data
  apps/frontend/src/assets/PUMP-002_Environment_20240422-220000000_20240423-220000000.json
  apps/frontend/src/assets/PUMP-002_PumpData_20240422-220000000_20240423-220000000.json
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/chartdata/PUMP-002_Environment_20240422-220000000_20240423-220000000.json
  libs/facilities/frontend/view/src/lib/components/facility.mocks/chartdata/PUMP-002_PumpData_20240422-220000000_20240423-220000000.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: put utility function inside prismaService :construction:
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  prisma/demo_data/PUMP-010_Environment_20240422-220000000_20240423-220000000.json
  prisma/demo_data/PUMP-010_PumpData_20240422-220000000_20240423-220000000.json
  prisma/migrations/20240521155542_/migration.sql
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: added the hardcoded login with set username and password #55
  libs/account/frontend/view/src/lib/components/login/login.page.html
  libs/account/frontend/view/src/lib/components/login/login.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/const.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: small fixes
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: small fixes
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/lock-modal/lockModal.component.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: small fixes (IntelliJ kept not commiting everything for some reason)
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: housekeeping on the timeseries controller :construction:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/response.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: task 55, to comply with the code style and guideline
  libs/account/frontend/view/src/lib/components/login/login.page.html
  libs/account/frontend/view/src/lib/components/login/login.page.scss
  libs/account/frontend/view/src/lib/components/login/login.page.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: remove old orders.ts and use const.ts from orders.mocks everywhere
  libs/orders/frontend/view/src/lib/components/detail-order/detail-order.component.ts
  libs/orders/frontend/view/src/lib/components/open-orders/open-orders.component.ts
  libs/orders/frontend/view/src/lib/components/orders.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Path conditions:
  nx affected --target lint --uncommitted: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: ((any of: *.{html,ts,js,mjs}) or (any of: *.{json,md,yml})) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
