Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: 108 make the header happy
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: 108 from breadcrumb to separate data #108
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(backend): improved cases error handling
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/common/backend/prisma/src/lib/prisma-client-exception/prisma-client-exception.filter.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: 108 added the missing feat
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Add files via upload
  Documentation/images/createCase (2).png
  Documentation/images/facilitiesDB.png
  Documentation/images/facilitiesDBView.png
  Documentation/images/loginPage.png
  Documentation/images/openCases.png
  Documentation/images/pumpData1.png
  Documentation/images/pumpData2.png
Due: none

Create Screenshots04.06
  Documentation/images/Screenshots04.06
Due: none

Create .gitkeep
  Documentation/images/screenshots04.06/.gitkeep
Due: none

Add files via upload
  Documentation/images/screenshots04.06/createCase (2).png
  Documentation/images/screenshots04.06/facilitiesDB.png
  Documentation/images/screenshots04.06/facilitiesDBView.png
  Documentation/images/screenshots04.06/loginPage.png
  Documentation/images/screenshots04.06/openCases.png
  Documentation/images/screenshots04.06/pumpData1.png
  Documentation/images/screenshots04.06/pumpData2.png
Due: none

Create dummy
  Deliverables/sprint-06/dummy
Due: none

add the pdfs for the documentation
  Deliverables/sprint-06/build-documentation.pdf
  Deliverables/sprint-06/design-documentation.pdf
  Deliverables/sprint-06/user-documentation.pdf
Due: none

feat: 99 fixed lint
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: 108 added the missing feat #108
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  libs/account/frontend/view/src/lib/components/login/login.page.spec.ts
  libs/account/frontend/view/src/lib/components/login/login.page.ts
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.spec.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.spec.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.spec.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: commit so I can create another pull request
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: remove card
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: add card
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: just change this file because rebasing did not work
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: make style of status look good #77
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

fix: add deleted file again #77
  Documentation/images/Screenshots04.06
Due: none

fix: add file again #77
  Documentation/images/screenshots04.06/.gitkeep
Due: none

feat(cases-shared-models): lib
  libs/cases/shared/models/.eslintrc.json
  libs/cases/shared/models/README.md
  libs/cases/shared/models/jest.config.ts
  libs/cases/shared/models/project.json
  libs/cases/shared/models/src/index.ts
  libs/cases/shared/models/src/lib/index.ts
  libs/cases/shared/models/src/lib/interfaces/body.interface.ts
  libs/cases/shared/models/src/lib/interfaces/index.ts
  libs/cases/shared/models/src/lib/interfaces/params.interface.ts
  libs/cases/shared/models/src/lib/interfaces/response.interface.ts
  libs/cases/shared/models/src/test-setup.ts
  libs/cases/shared/models/tsconfig.json
  libs/cases/shared/models/tsconfig.lib.json
  libs/cases/shared/models/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(cases-backend-case-management): controller, dtos, services
  libs/cases/backend/case-management/README.md
  libs/cases/backend/case-management/project.json
  libs/cases/backend/case-management/src/lib/case-managament.module.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.ts
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/backend/case-management/src/lib/dto/params.dto.ts
  libs/cases/backend/case-management/src/lib/interfaces/body.interface.ts
  libs/cases/backend/case-management/src/lib/interfaces/params.interface.ts
  libs/cases/backend/case-management/src/lib/interfaces/response.interface.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(frontend): backend interceptor
  apps/backend/src/main.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: github action
  .github/workflows/lint-test-build.yml
Due: nx format:write --uncommitted

feat(cases-frontend-domain): lib
  libs/cases/frontend/domain/.eslintrc.json
  libs/cases/frontend/domain/README.md
  libs/cases/frontend/domain/jest.config.ts
  libs/cases/frontend/domain/project.json
  libs/cases/frontend/domain/src/index.ts
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.spec.ts
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/cases/frontend/domain/src/lib/application/facades/index.ts
  libs/cases/frontend/domain/src/lib/application/index.ts
  libs/cases/frontend/domain/src/lib/index.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.spec.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.ts
  libs/cases/frontend/domain/src/test-setup.ts
  libs/cases/frontend/domain/tsconfig.json
  libs/cases/frontend/domain/tsconfig.lib.json
  libs/cases/frontend/domain/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

style: reformat code
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.spec.ts
  libs/common/backend/models/src/index.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/common/shared/models/project.json
  libs/common/shared/models/src/lib/index.ts
  libs/common/shared/models/src/lib/types/index.ts
  libs/common/shared/models/src/lib/types/timeseries.types.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/params.dto.ts
  libs/facilities/backend/timeseries/src/lib/dto/query.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facades.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/facilities/frontend/domain/src/lib/application/facades/index.ts
  libs/facilities/frontend/domain/src/lib/application/index.ts
  libs/facilities/frontend/domain/src/lib/index.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  libs/facilities/shared/models/src/lib/interfaces/response.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(frontend): backend interceptor
  apps/backend/src/main.ts
  apps/frontend/proxy.conf.json
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: app
  tsconfig.base.json
Due: nx format:write --uncommitted

fix: repair jest file
  libs/cases/frontend/view/tsconfig.json
Due: nx format:write --uncommitted

feat(frontend): backend interceptor
  .env.example
  .lintstagedrc.yml
  Documentation/images/Screenshots04.06
  libs/facilities/frontend/domain/project.json
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/facilities/frontend/domain/src/lib/application/facades/index.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: lintstage
  .lintstagedrc.yml
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: reformat, add comments and adjust tests as demanded in PR
  .lintstagedrc.yml
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  libs/cases/backend/case-management/src/index.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: reformat, add comments and adjust tests as demanded in PR
  .lintstagedrc.yml
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: reformat, add comments and adjust tests as demanded in PR
  libs/cases/backend/case-management/src/lib/case-management.module.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix(backend): import module correctly
  apps/backend/src/app/app.module.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: lint and test
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/params.dto.ts
  libs/facilities/backend/timeseries/src/lib/dto/query.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: lint and test
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Path conditions:
  nx affected --target lint --uncommitted: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: ((any of: *.{html,ts,js,mjs}) or (any of: *.{json,md,yml})) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
