Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

.lintstagedrc.yml:

'*.{html,ts,js,mjs}':
    - nx affected --target lint --uncommitted
    - nx format:write --uncommitted
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix
    - nx format:write --uncommitted

fix: reformat action
  .github/workflows/docker-build-publish.yml
Due: nx format:write --uncommitted

feat: frontend config service 2 variants
  apps/frontend/project.json
  apps/frontend/src/environments/EnvironmentData.ts
  apps/frontend/src/environments/environment.prod.ts
  apps/frontend/src/environments/environment.ts
  apps/frontend/src/services/environment.service.spec.ts
  apps/frontend/src/services/environment.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Add files via upload
  Deliverables/sprint-02/amos2023ss01-imp-squared-backlog.png
Due: none

Delete Deliverables/sprint-02/a
  Deliverables/sprint-02/a
Due: none

Add files via upload
  Deliverables/sprint-02/planning-documents.pdf
Due: none

Add files via upload
  Deliverables/sprint-02/feature-board.csv
  Deliverables/sprint-02/feature-board.jpg
Due: none

Create a
  Deliverables/sprint-02/a
Due: none

ci: release please
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

feat: install tailwind
  apps/frontend/src/app/app.component.html
  apps/frontend/src/styles.scss
  apps/frontend/tailwind.config.js
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

Revert "feat(backend): added sample pumpdata to backend"
  apps/backend/src/assets/sampledata/brokenpump/environment.json
  apps/backend/src/assets/sampledata/brokenpump/pumpdata.json
  apps/backend/src/assets/sampledata/workingpump/environment.json
  apps/backend/src/assets/sampledata/workingpump/pumpdata.json
Due: nx format:write --uncommitted

feat: setup siemens ix
  apps/frontend/src/app/app.component.html
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/nx-welcome.component.ts
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: siemens ix fix tests
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

build: bracket rule
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: nx format:write --uncommitted

style: eslint, prettier
  apps/backend-e2e/project.json
  apps/backend/project.json
  apps/frontend-e2e/project.json
  libs/common/backend/models/project.json
  nx.json
  tsconfig.base.json
Due: nx format:write --uncommitted

feat(frontend): root layout
  apps/frontend/src/app/layouts/root.layout.html
  apps/frontend/src/app/layouts/root.layout.scss
  apps/frontend/src/app/layouts/root.layout.spec.ts
  apps/frontend/src/app/layouts/root.layout.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat(frontend): components
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.scss
  apps/frontend/src/app/components/header/header.component.spec.ts
  apps/frontend/src/app/components/header/header.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat(frontend): routing
  apps/frontend/.eslintrc.json
  apps/frontend/src/app/app.component.html
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/app.routes.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

build: bracket rule
  pnpm-lock.yaml
Due: none

ci: correct pnpm version
  pnpm-lock.yaml
Due: none

feat(frontend): set up lib frontend shell for facilities and orders
  pnpm-lock.yaml
Due: none

test(facilities-frontend-view): browse page
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: eslint
  .eslintrc.json
Due: nx format:write --uncommitted

feat: install tailwind
  pnpm-lock.yaml
Due: none

feat(frontend): not found page
  apps/frontend/src/app/pages/not-found/not-found.component.html
  apps/frontend/src/app/pages/not-found/not-found.component.scss
  apps/frontend/src/app/pages/not-found/not-found.component.spec.ts
  apps/frontend/src/app/pages/not-found/not-found.component.ts
  apps/frontend/src/assets/not-found.gif
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: setup siemens ix
  pnpm-lock.yaml
Due: none

refactor(frontend): welcome pape
  apps/frontend/src/app/app.routes.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: get tests and build to run temporarily
  apps/frontend/project.json
  apps/frontend/src/app/layouts/root.layout.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Add files via upload
  Documentation/images/build-detail.png
  Documentation/images/build-picture.png
Due: none
