Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

.lintstagedrc.yml:

'*.{html,ts,js,mjs}':
    - nx affected --target eslint --fix
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix
    - nx format:write --uncommitted

fix: facilities assetId
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
Due: nx affected --target eslint --fix

feat: add facilities dto
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
  libs/facilities/backend/facilities/src/lib/dto/params.dto.ts
  libs/facilities/shared/models/src/lib/interfaces/params.interface.ts
Due: nx affected --target eslint --fix

refactor: add location to facilities
  libs/facilities/backend/facilities/README.md
  libs/facilities/backend/facilities/src/lib/service/faclities.service.ts
  libs/facilities/shared/models/README.md
  prisma/migrations/20240613085754_/migration.sql
Due: nx affected --target eslint --fix, nx format:write --uncommitted

fix: adjust error Handling
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

fix: iot hub test
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.ts
Due: nx affected --target eslint --fix

docs:readme
  Documentation/images/logo.png
  README.md
Due: nx format:write --uncommitted

fix: fixed the height of the welcome message
  apps/frontend/src/app/pages/home/home.component.html
Due: nx affected --target eslint --fix

feat: connected the get cases details page to backend #160
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

Create dummy
  Documentation/images/screenshots1306/dummy
Due: none

Add files via upload
  Deliverables/sprint-06/amos2023ss01-imp-squared-backlog.png.png
Due: none

Add files via upload
  Deliverables/sprint-05/amos2023ss01-imp-squared-backlog.png.png
Due: none

Add files via upload
  Deliverables/sprint-07/amos2023ss01-imp-squared-backlog.png.png
Due: none

get Jonas changes from branch feat/xd-110 #82
  README.md
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.ts
  libs/facilities/backend/facilities/README.md
  libs/facilities/backend/facilities/src/lib/service/faclities.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  prisma/schema.prisma
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat/xd-82: actually use item.time now that Jonas fixed it #82
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

Add files via upload
  Documentation/images/screenshots1306/Cases.jpeg
  Documentation/images/screenshots1306/createCase (3).png
  Documentation/images/screenshots1306/dashboard.png
  Documentation/images/screenshots1306/pumpData.png
Due: none

feat/xd-82: make charts look nice #82
  libs/facilities/frontend/view/src/lib/components/detail/colors.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

Update README.md
  README.md
Due: nx format:write --uncommitted

feat/xd-82: I forgot to add the title, note: I forgot to sign off the last commits. I basically did everything on the details page (the charts)
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat: made the input field cover the ix-select #80
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

feat: added the dropdown icon on the right of the input
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

feat: add caching of api calls
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target eslint --fix

feat: add some facility tests
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
  libs/facilities/backend/facilities/src/lib/facilities.module.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

fix: imports
  apps/backend/src/app/app.module.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
Due: nx affected --target eslint --fix

fix: seed script
  prisma/migrations/20240614153252_/migration.sql
  seed.ts
Due: nx affected --target eslint --fix

fix: lint
  apps/backend/src/app/app.module.ts
Due: nx affected --target eslint --fix

fix: lint
  apps/backend/src/app/app.module.ts
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/app/components/header/legal-information/legal-information.component.spec.ts
  apps/frontend/src/app/pages/home/home.component.spec.ts
  apps/frontend/src/app/pages/home/home.component.ts
  libs/account/frontend/view/src/lib/components/register/register.page.spec.ts
  libs/account/frontend/view/src/lib/components/register/register.page.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.spec.ts
  libs/common/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/facilities.module.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
Due: nx affected --target eslint --fix

fix: comments
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/common/backend/insight-hub/src/lib/services/users.service.ts
Due: nx affected --target eslint --fix

ci: github actions
  .github/workflows/lint-test-build.yml
Due: nx format:write --uncommitted

ci(backend): skip husky install
  apps/backend/Dockerfile
Due: none

feat(cases-shared-models): move case to shared folfer
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.spec.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/interfaces/case-form-data.interface.ts
  libs/cases/shared/models/src/lib/enums/case-priority.enum.ts
  libs/cases/shared/models/src/lib/enums/case-status.enum.ts
  libs/cases/shared/models/src/lib/enums/case-type.enum.ts
  libs/cases/shared/models/src/lib/enums/index.ts
  libs/cases/shared/models/src/lib/index.ts
  libs/cases/shared/models/src/lib/interfaces/body.interface.ts
  libs/cases/shared/models/src/lib/interfaces/response.interface.ts
  libs/facilities/shared/models/src/lib/enums/case-status.enum.ts
  libs/facilities/shared/models/src/lib/enums/index.ts
  libs/facilities/shared/models/src/lib/index.ts
Due: nx affected --target eslint --fix

build: allow to import cases
  .eslintrc.json
Due: nx format:write --uncommitted

feat/xd-82: small changes David helped me with (Code With Me)
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/chart.interfaces.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
Due: nx affected --target eslint --fix

refactor: small changes David told me to do #82
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/chart.interfaces.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
Due: nx affected --target eslint --fix

feat: actually take facilities from the api/facilities endpoint
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/domain/src/lib/application/facades/index.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/facilities-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/facilities-request.service.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

refactor: small changes David told me to do #82
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat/xd-82: small changes David helped me with (Code With Me)
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

chore: rename the locked variable as requested by David
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat/xd-82: change timeseries request service to fit the details pages needs
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/facilities-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  libs/facilities/shared/models/src/lib/interfaces/params.interface.ts
Due: nx affected --target eslint --fix
