Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

.lintstagedrc.yml:

'*.{html,ts,js,mjs}':
    - nx affected --target eslint --fix
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix
    - nx format:write --uncommitted

refactor: seeding
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  prisma/seed.ts
Due: nx affected --target eslint --fix

feat: create deleteModal and finishing the delete #161
  apps/frontend/src/index.html
  libs/cases/frontend/view/src/lib/components/detail-case/delete-modal/deleteModal.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/delete-modal/deleteModal.component.scss
  libs/cases/frontend/view/src/lib/components/detail-case/delete-modal/deleteModal.component.spec.ts
  libs/cases/frontend/view/src/lib/components/detail-case/delete-modal/deleteModal.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

fix(common-backend-insight-hub): token manager
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.ts
Due: nx affected --target eslint --fix

feat: finished the functionality of updating cases
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

refactor(common-backend-insight-hub): token manager
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.ts
Due: nx affected --target eslint --fix

refactor(common-backend-insight-hub): token manager
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.ts
Due: nx affected --target eslint --fix

feat: 137: rebasing
  libs/cases/frontend/view/src/lib/components/case.mocks/case.interface.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/fackerMock.ts
Due: nx affected --target eslint --fix

feat: 137: removed comments
  libs/cases/frontend/view/src/lib/components/case.mocks/case.interface.ts
Due: nx affected --target eslint --fix

feat: 137: Just a commit to make sure
  libs/cases/frontend/view/src/lib/components/cases-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

Delete libs/cases/frontend/view/src/lib/components/case.mocks directory
  libs/cases/frontend/view/src/lib/components/case.mocks/case.interface.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/fackerMock.ts
Due: nx affected --target eslint --fix

fix: create-case-component Test
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.spec.ts
  libs/cases/frontend/view/src/test-setup.ts
Due: nx affected --target eslint --fix

fix: all tests that have nothing to do with cases
  apps/frontend/src/app/pages/home/home.component.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/details.facade.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
Due: nx affected --target eslint --fix

fix: frontend cases tests
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.spec.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.spec.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.spec.ts
Due: nx affected --target eslint --fix

fix: backend cases test
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
Due: nx affected --target eslint --fix

fix: lint
  apps/frontend/src/app/pages/home/home.component.spec.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.spec.ts
  libs/common/backend/swagger/src/lib/swagger-document-builder.ts
Due: nx affected --target eslint --fix

feat: 137: removed eslint
  libs/cases/frontend/view/src/lib/components/cases-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

feat: 154: logic for filtering for singular options done
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
Due: nx affected --target eslint --fix

feat: 154: Mock buttons for filtering for singular options done
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
Due: nx affected --target eslint --fix

feat: 154: clickable pill-buttons, multi category filter
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.scss
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: 154: colors switch on click
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.scss
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: finished the validation of the update case
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

refactor: fixed the linting
  libs/cases/frontend/view/src/lib/components/detail-case/delete-modal/deleteModal.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

feat: 154: made text smol and deleted open-cases
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/index.ts
  libs/cases/frontend/view/src/lib/components/open-cases/index.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.scss
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.spec.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor(frontend): reformatted create-case HTML file
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
Due: nx affected --target eslint --fix

feat(frontend): added labels to input fields in create-case page
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
Due: nx affected --target eslint --fix

fix: do changes I requested in review
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.html
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.scss
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: connect Cases and facilities in the db
  prisma/schema.prisma
Due: none

fix: cases service
  libs/cases/backend/case-management/src/lib/controller/case.controller.spec.ts
  libs/cases/backend/case-management/src/lib/controller/case.controller.ts
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/backend/case-management/src/lib/dto/params.dto.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.spec.ts
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.spec.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/interfaces/case-form-data.interface.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.ts
  libs/facilities/shared/models/src/lib/interfaces/response.interface.ts
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

fix: finished case
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/shared/models/src/lib/interfaces/response.interface.ts
  prisma/migrations/20240619132010_y/migration.sql
Due: nx affected --target eslint --fix

fix: case Service test
  .eslintrc.json
  libs/cases/shared/models/src/lib/interfaces/response.interface.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.spec.ts
  libs/facilities/backend/facilities/src/lib/service/facilities.service.ts
  libs/facilities/shared/models/src/lib/interfaces/response.interface.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted

fix: add case error handling
  libs/cases/backend/case-management/src/lib/services/case.service.ts
Due: nx affected --target eslint --fix

feat: remove comment
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

fix: case Service test
  libs/cases/backend/case-management/src/lib/dto/body.dto.ts
  libs/cases/backend/case-management/src/lib/services/case.service.spec.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/cases/frontend/view/src/lib/components/case-browse/case-browse.component.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
  libs/cases/shared/models/src/lib/interfaces/body.interface.ts
  libs/cases/shared/models/src/lib/interfaces/response.interface.ts
Due: nx affected --target eslint --fix

feat: adjust seeding script
  prisma/seed.ts
Due: nx affected --target eslint --fix

feat: frontend adjustments needed
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

fix: migration
  prisma/migrations/20240619132010_y/migration.sql
  prisma/migrations/20240620103028_/migration.sql
Due: none

refactor: changed for the review
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

refactor: added two comments
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix
