Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: init prisma
  apps/backend/src/app/config/validation.ts
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  prisma/.env.example
  prisma/README.md
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add seeding script to prisma
  prisma/.env.example
  prisma/README.md
  prisma/demo_data/PUMP-002_Environment_20240422-220000000_20240423-220000000.json
  prisma/demo_data/PUMP-002_PumpData_20240422-220000000_20240423-220000000.json
  prisma/migrations/20240509211327_/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  prisma/tsconfig.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: edit Readme.md
  package.json
  prisma/README.md
  prisma/seed.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: multi env to single env
  .env.example
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Create a
  Deliverables/sprint-03/a
Due: none

refactor: comments for env > > Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  .env.example
Due: none

Delete Deliverables/sprint-03/feature-board.csv
  Deliverables/sprint-03/feature-board.csv
Due: none

Delete Deliverables/sprint-03/feature-board.png
  Deliverables/sprint-03/feature-board.png
Due: none

Delete Deliverables/sprint-03/planning-documents.pdf
  Deliverables/sprint-03/planning-documents.pdf
Due: none

Add files via upload
  Deliverables/sprint-03/amos2023ss01-imp-squared-backlog.png.png
Due: none

Create dummy
  Deliverables/sprint-03/dummy
Due: none

Add files via upload
  Deliverables/sprint-03/feature-board.csv
Due: none

Add files via upload
  Deliverables/sprint-03/feature-board.png
Due: none

Add files via upload
  Deliverables/sprint-03/planning-documents.pdf
Due: none

refactor: comments for env > > Co-authored-by: David Schmidt <d.schmidt@campus.tu-berlin.de>
  .env.example
Due: none

refactor: comments for env. > > Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  .env.example
Due: none

ci: release please
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

ci: update deprecated action
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

Create a
  Deliverables/sprint-02/a
Due: none

style: project xml
  .idea/codeStyles/Project.xml
Due: none

Delete Deliverables/sprint-02/a
  Deliverables/sprint-02/a
Due: none

feat(common-frontend-models): lib
  nx.json
  tsconfig.base.json
Due: nx format:write --uncommitted

build: angular dev dependency
  package.json
Due: nx format:write --uncommitted

build: rename tier to kind
  apps/backend/project.json
  apps/frontend/project.json
Due: nx format:write --uncommitted

feat(common-shared-models): set up shared models lib
  libs/common/shared/models/.eslintrc.json
  libs/common/shared/models/README.md
  libs/common/shared/models/jest.config.ts
  libs/common/shared/models/project.json
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/const.ts
  libs/common/shared/models/src/lib/index.ts
  libs/common/shared/models/src/test-setup.ts
  libs/common/shared/models/tsconfig.json
  libs/common/shared/models/tsconfig.lib.json
  libs/common/shared/models/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(common-shared-models): backend url
  libs/common/frontend/models/.eslintrc.json
  libs/common/frontend/models/README.md
  libs/common/frontend/models/jest.config.ts
  libs/common/frontend/models/project.json
  libs/common/frontend/models/src/index.ts
  libs/common/frontend/models/src/lib/index.ts
  libs/common/frontend/models/src/lib/interfaces/app-environment.interface.ts
  libs/common/frontend/models/src/lib/interfaces/index.ts
  libs/common/frontend/models/src/lib/tokens/app-config.token.ts
  libs/common/frontend/models/src/lib/tokens/index.ts
  libs/common/frontend/models/src/test-setup.ts
  libs/common/frontend/models/tsconfig.json
  libs/common/frontend/models/tsconfig.lib.json
  libs/common/frontend/models/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(frontend): webpack, environment, interceptors
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/environments/EnvironmentData.ts
  apps/frontend/src/environments/environment.prod.ts
  apps/frontend/src/environments/environment.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.ts
  apps/frontend/src/services/environment.service.spec.ts
  apps/frontend/src/services/environment.service.ts
  apps/frontend/src/types/types.d.ts
  apps/frontend/webpack.config.js
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: use app environment
  apps/frontend/src/environments/environment.ts
  libs/common/frontend/models/src/lib/interfaces/app-environment.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(backend): use API BASE SEGMENT
  apps/backend/src/main.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): docker
  apps/frontend/Dockerfile
  docker-compose.yml
Due: nx format:write --uncommitted

feat(frontend): app component
  apps/frontend/src/app/app.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor(frontend): environment.prod.ts
  apps/frontend/src/environments/environment.prod.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

docs(common-shared-models): api base segment
  libs/common/shared/models/src/lib/const.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

build: rebase feature branch --signoff
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.config.ts
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

build: rename tier to kind
  .eslintrc.json
  libs/common/backend/models/project.json
  libs/facilities/frontend/shell/project.json
  libs/facilities/frontend/view/project.json
  libs/orders/frontend/shell/project.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx format:write --uncommitted

ci: change release manager version
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

Path conditions:
  nx affected --target lint --uncommitted: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: ((any of: *.{html,ts,js,mjs}) or (any of: *.{json,md,yml})) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
