Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

.lintstagedrc.yml:

'*.{html,ts,js,mjs}':
    - nx affected --target lint --uncommitted
    - nx format:write --uncommitted
'*.{json,md,yml}':
    - nx format:write --uncommitted
'*.{scss,css}':
    - nx affected --target stylelint --fix
    - nx format:write --uncommitted

feat(common-backend-models): insight hub config
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): insight hub config
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: lint
  tsconfig.base.json
Due: nx format:write --uncommitted

feat: timeseries lib
  libs/facilities/backend/timeseries/.eslintrc.json
  libs/facilities/backend/timeseries/README.md
  libs/facilities/backend/timeseries/jest.config.ts
  libs/facilities/backend/timeseries/project.json
  libs/facilities/backend/timeseries/src/index.ts
  libs/facilities/backend/timeseries/src/lib/controller/pump.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/request.interface.ts
  libs/facilities/backend/timeseries/src/lib/pump.module.ts
  libs/facilities/backend/timeseries/src/lib/services/pump.service.ts
  libs/facilities/backend/timeseries/tsconfig.json
  libs/facilities/backend/timeseries/tsconfig.lib.json
  libs/facilities/backend/timeseries/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: husky
  package.json
Due: nx format:write --uncommitted

refactor: add timeseries Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/timeseries/src/index.ts
  libs/facilities/backend/timeseries/src/lib/controller/pump.controller.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/request.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/pump.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: add timeseries Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  .eslintrc.json
  apps/backend/src/app/app.module.ts
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: small type fail Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/timeseries/src/lib/interfaces/response.interface.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add validation for api
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: from promise to observable...
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/respons.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: refactor time series Service so its tests work Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/common/backend/prisma/src/lib/index.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/common/backend/prisma/src/lib/types/index.ts
  libs/common/backend/prisma/src/lib/types/timeseries.types.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: add transform for request & add get all timeseries
  apps/backend/src/main.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: testing :boom:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/respons.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: start with controller :construction:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: put utility function inside prismaService :construction:
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  prisma/demo_data/PUMP-010_Environment_20240422-220000000_20240423-220000000.json
  prisma/demo_data/PUMP-010_PumpData_20240422-220000000_20240423-220000000.json
  prisma/migrations/20240521155542_/migration.sql
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: housekeeping on the timeseries controller :construction:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/response.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: test fix prisma
  libs/common/backend/prisma/src/lib/services/prisma.service.spec.ts
  libs/common/backend/prisma/src/lib/services/prisma.service.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: rm insight hub from #29 Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  libs/facilities/backend/timeseries/src/lib/dto/request.dto.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: add pnpm lock after rebase
  pnpm-lock.yaml
Due: none

refactor: fix files change
  package.json
  tsconfig.base.json
Due: nx format:write --uncommitted

feat: made charts bigger, have charts in their own component, adjust size of items depending on screen size
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/app.config.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.html
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.scss
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/envData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/pumpData.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

fix: lint, tests, slightly bigger charts
  apps/frontend/src/app/app.config.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: add typesafety
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-response.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: small style changes
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

style: adjust formatting
  .idea/codeStyles/Project.xml
  .idea/dbnavigator.xml
Due: none

feat(facilities-backend-insight-hub): models
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/assets-response.interface.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/token-manager-response.interface.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/users-response.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/assets.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/assets.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/token-manager.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/token-manager.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/users.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/users.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

style(facilities-backend-insight-hub): reformat
  libs/facilities/backend/insight-hub/src/lib/services/assets.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/assets.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/users.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: changed case interface to IP requirments and changed open cases to table
  libs/account/frontend/view/src/lib/components/login/login.page.html
  libs/account/frontend/view/src/lib/components/login/login.page.scss
  libs/account/frontend/view/src/lib/components/login/login.page.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/case.interface.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/const.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
  libs/cases/frontend/view/tsconfig.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: gen prisma client in github actions
  .github/workflows/lint-test-build.yml
Due: nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

test: solve testing, lint errors
  .eslintrc.json
  libs/common/shared/models/project.json
  libs/common/shared/models/src/index.ts
  libs/common/shared/models/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted
