Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

ci: add docker build and publish
  .github/workflows/docker-build-publish.yml
Due: nx format:write --uncommitted

feat: docker compose
  docker-compose.yml
Due: nx format:write --uncommitted

ci: release please, docker build push
  .github/workflows/docker-build-publish.yml
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

ci: increase version of actions to use node 20
  .github/workflows/docker-build-publish.yml
  .github/workflows/lint-test-build.yml
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

Create a
  Deliverables/sprint-02/a
Due: none

Add files via upload
  Deliverables/sprint-02/amos2023ss01-imp-squared-backlog.png
Due: none

Delete Deliverables/sprint-02/a
  Deliverables/sprint-02/a
Due: none

Add files via upload
  Deliverables/sprint-02/feature-board.csv
  Deliverables/sprint-02/feature-board.jpg
Due: none

Add files via upload
  Deliverables/sprint-02/planning-documents.pdf
Due: none

feat: configService
  .env.example
  .gitignore
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  apps/backend/src/main.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: nx workspace setup > > Co-authored-by: KonsumGandalf d.schmidt@campus.tu-berlin.de
  .eslintrc.json
  apps/backend/project.json
  apps/frontend/project.json
  libs/common/backend/models/.eslintrc.json
  libs/common/backend/models/README.md
  libs/common/backend/models/jest.config.ts
  libs/common/backend/models/project.json
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/index.ts
  libs/common/backend/models/src/interfaces/config.interface.ts
  libs/common/backend/models/tsconfig.json
  libs/common/backend/models/tsconfig.lib.json
  libs/common/backend/models/tsconfig.spec.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: infer types when geting config
  apps/backend/src/app/app.service.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  apps/backend/src/main.ts
  libs/common/backend/models/src/classes/app.class.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/database.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/index.ts
  libs/common/backend/models/src/interfaces/app.interface.ts
  libs/common/backend/models/src/interfaces/config.interface.ts
  libs/common/backend/models/src/interfaces/database.interface.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/tsconfig.lib.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: add .env to docker
  docker-compose.yml
  libs/common/backend/models/src/classes/config.class.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: example message using configService
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.ts
  apps/backend/src/app/config/classes/environment.class.ts
  libs/common/backend/models/src/classes/config.class.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: Housekeeping
  apps/backend/src/app/app.controller.spec.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/app.service.ts
  apps/backend/src/app/config/validation.ts
  apps/backend/src/main.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: rework using comments > > Co-authored-by: KonsumGandalf d.schmidt@campus.tu-berlin.de
  -/.nx/cache/playwright.hash
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/docker-build-publish.yml
  .lintstagedrc.yml
  README.md
  apps/backend/project.json
  apps/backend/src/app/app.controller.spec.ts
  apps/backend/src/app/app.module.ts
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/main.ts
  apps/frontend-e2e/playwright.config.ts
  apps/frontend/nginx.conf
  apps/frontend/project.json
  apps/frontend/src/app/nx-welcome.component.ts
  docker-compose.yml
  libs/common/backend/models/.eslintrc.json
  libs/common/backend/models/README.md
  libs/common/backend/models/jest.config.ts
  libs/common/backend/models/project.json
  libs/common/backend/models/src/classes/app.class.ts
  libs/common/backend/models/src/classes/database.class.ts
  libs/common/backend/models/src/interfaces/app.interface.ts
  libs/common/backend/models/src/interfaces/config.interface.ts
  libs/common/backend/models/src/interfaces/database.interface.ts
  libs/common/backend/models/tsconfig.json
  libs/common/backend/models/tsconfig.lib.json
  libs/common/backend/models/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

chore: reformat - comment > > Co-authored-by: KonsumGandalf d.schmidt@campus.tu-berlin.de
  libs/common/backend/models/src/index.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: frontend config service 2 variants
  apps/frontend/project.json
  apps/frontend/src/environments/EnvironmentData.ts
  apps/frontend/src/environments/environment.prod.ts
  apps/frontend/src/environments/environment.ts
  apps/frontend/src/services/environment.service.spec.ts
  apps/frontend/src/services/environment.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(backend): added sample pumpdata to backend
  apps/backend/src/assets/sampledata/brokenpump/environment.json
  apps/backend/src/assets/sampledata/brokenpump/pumpdata.json
  apps/backend/src/assets/sampledata/workingpump/environment.json
  apps/backend/src/assets/sampledata/workingpump/pumpdata.json
Due: nx format:write --uncommitted

Create dummy
  Deliverables/sprint-02/dummy
Due: none

Delete Deliverables/sprint-02/dummy
  Deliverables/sprint-02/dummy
Due: none

Create dummy
  Deliverables/sprint-03/dummy
Due: none

Add files via upload
  Deliverables/sprint-03/planning-documents.pdf
Due: none

Add files via upload
  Deliverables/sprint-03/feature-board.csv
Due: none

Add files via upload
  Deliverables/sprint-03/feature-board.png
Due: none

Delete Deliverables/sprint-03/dummy
  Deliverables/sprint-03/dummy
Due: none

docs(architecture): Added architecture document
  Deliverables/sprint-02/software-architecture.pdf
  Documentation/architecture.md
  Documentation/images/project-architecture.drawio.png
  Documentation/images/siemens-iot-model.drawio.png
Due: nx format:write --uncommitted

Revert "docs(architecture): Added architecture document"
  Deliverables/sprint-02/software-architecture.pdf
  Documentation/architecture.md
  Documentation/images/project-architecture.drawio.png
  Documentation/images/siemens-iot-model.drawio.png
Due: nx format:write --uncommitted

docs(architecture): Add architecture document
  Deliverables/sprint-02/architecture-document.pdf
  Documentation/architecture.md
  Documentation/images/project-architecture.drawio.png
  Documentation/images/siemens-iot-model.drawio.png
Due: nx format:write --uncommitted

Delete Deliverables/sprint-03/feature-board.csv
  Deliverables/sprint-03/feature-board.csv
Due: none

Delete Deliverables/sprint-03/feature-board.png
  Deliverables/sprint-03/feature-board.png
Due: none

fix: reformat action
  .husky/pre-commit
Due: none

Path conditions:
  nx affected --target lint --uncommitted: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: ((any of: *.{html,ts,js,mjs}) or (any of: *.{json,md,yml})) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
