Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: fix files change
  package.json
  tsconfig.base.json
Due: nx format:write --uncommitted

fix: lint
  tsconfig.base.json
Due: nx format:write --uncommitted

refactor: remove pump lib Co-authored-by: KonsumGandalf <d.schmidt@campus.tu-berlin.de>
  libs/facilities/backend/pump/.eslintrc.json
  libs/facilities/backend/pump/README.md
  libs/facilities/backend/pump/jest.config.ts
  libs/facilities/backend/pump/project.json
  libs/facilities/backend/pump/src/index.ts
  libs/facilities/backend/pump/src/lib/controller/pump.controller.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/backend/pump/src/lib/services/pump.service.ts
  libs/facilities/backend/pump/tsconfig.json
  libs/facilities/backend/pump/tsconfig.lib.json
  libs/facilities/backend/pump/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/tokens.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: prisma schema
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  prisma/migrations/20240518182201_timeseries/migration.sql
  prisma/migrations/20240518183644_timeseries/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: from promise to observable...
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/respons.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: add tsconfig fix
  apps/backend/src/app/app.module.ts
  apps/backend/webpack.config.js
  libs/common/backend/prisma/project.json
  libs/common/backend/prisma/src/lib/prisma.module.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.spec.ts
  libs/facilities/shared/models/src/lib/facilities-shared-models/facilities-shared-models.component.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): insight hub
  libs/facilities/backend/insight-hub/.eslintrc.json
  libs/facilities/backend/insight-hub/README.md
  libs/facilities/backend/insight-hub/jest.config.ts
  libs/facilities/backend/insight-hub/project.json
  libs/facilities/backend/insight-hub/src/index.ts
  libs/facilities/backend/insight-hub/src/lib/index.ts
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/facilities/backend/insight-hub/src/lib/models/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/facilities/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/facilities/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/tsconfig.json
  libs/facilities/backend/insight-hub/tsconfig.lib.json
  libs/facilities/backend/insight-hub/tsconfig.spec.json
  libs/facilities/backend/pump/.eslintrc.json
  libs/facilities/backend/pump/README.md
  libs/facilities/backend/pump/jest.config.ts
  libs/facilities/backend/pump/project.json
  libs/facilities/backend/pump/src/index.ts
  libs/facilities/backend/pump/src/lib/controller/pump.controller.ts
  libs/facilities/backend/pump/src/lib/facilities-backend-pump.module.ts
  libs/facilities/backend/pump/src/lib/services/pump.service.ts
  libs/facilities/backend/pump/tsconfig.json
  libs/facilities/backend/pump/tsconfig.lib.json
  libs/facilities/backend/pump/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: init branch
  apps/backend/src/app/config/validation.ts
  prisma/schema.prisma
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: housekeeping on the timeseries controller :construction:
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/interfaces/response.interface.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

docs: signal workshop
  apps/frontend/src/app/app.component.ts
  libs/facilities/frontend/shell/src/lib/shell.routes.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/services/timeseries-fetch.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Add files via upload
  Deliverables/sprint-05/planning-documents.pdf
Due: none

Add files via upload
  Deliverables/sprint-05/amos2023ss01-imp-squared-backlog.png.png
Due: none

refactor: removed assets form create case and refactored the facility details on the right side
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Add files via upload
  Deliverables/sprint-05/feature-board.png
Due: none

Add files via upload
  Deliverables/sprint-05/feature-board.csv
Due: none

ci: release scheme
  .github/workflows/release-please.yml
Due: nx format:write --uncommitted

Add files via upload
  Documentation/images/build-detail.png
  Documentation/images/build-picture.png
Due: none

Add files via upload
  Documentation/images/nx_graph.png
Due: none

feat(facilities-backend-insight-hub): services
  libs/facilities/backend/insight-hub/src/lib/services/assets.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/assets.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/base-bearer-interaction.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/base-bearer-interaction.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/token-manager.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/users.service.spec.ts
  libs/facilities/backend/insight-hub/src/lib/services/users.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat(facilities-backend-insight-hub): services
  libs/facilities/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/facilities/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/facilities/backend/insight-hub/src/lib/services/users.service.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: move @frontend/common/backend/insight-hub
  apps/backend/src/app/app.module.ts
  libs/common/backend/insight-hub/.eslintrc.json
  libs/common/backend/insight-hub/README.md
  libs/common/backend/insight-hub/jest.config.ts
  libs/common/backend/insight-hub/project.json
  libs/common/backend/insight-hub/src/index.ts
  libs/common/backend/insight-hub/src/lib/index.ts
  libs/common/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/common/backend/insight-hub/src/lib/models/enums/index.ts
  libs/common/backend/insight-hub/src/lib/models/enums/time-series-ordering.enum.ts
  libs/common/backend/insight-hub/src/lib/models/index.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/assets-response.interface.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/time-series-response.interface.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/token-manager-response.interface.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/users-response.interface.ts
  libs/common/backend/insight-hub/src/lib/services/assets.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/assets.service.ts
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/base-bearer-interaction.service.ts
  libs/common/backend/insight-hub/src/lib/services/index.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/token-manager.service.ts
  libs/common/backend/insight-hub/src/lib/services/users.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/users.service.ts
  libs/common/backend/insight-hub/src/lib/tokens.ts
  libs/common/backend/insight-hub/tsconfig.json
  libs/common/backend/insight-hub/tsconfig.lib.json
  libs/common/backend/insight-hub/tsconfig.spec.json
  libs/facilities/backend/timeseries/jest.config.ts
  libs/facilities/backend/timeseries/project.json
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: rebase
  apps/backend/src/app/config/classes/environment.class.ts
  apps/backend/src/app/config/interfaces/environment.interface.ts
  apps/backend/src/app/config/validation.ts
  libs/common/backend/insight-hub/jest.config.ts
  libs/common/backend/insight-hub/project.json
  libs/common/backend/insight-hub/src/lib/services/assets.service.spec.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/common/backend/insight-hub/src/lib/services/users.service.spec.ts
  libs/common/backend/models/src/classes/config.class.ts
  libs/common/backend/models/src/classes/index.ts
  libs/common/backend/models/src/classes/insight-hub.class.ts
  libs/common/backend/models/src/interfaces/index.ts
  libs/common/backend/models/src/interfaces/insight-hub.interface.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: tsconfig
  tsconfig.base.json
Due: nx format:write --uncommitted

fix: fix merge conflict in IDE so it actually works
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: 77: Added One more field for details of facilities in detail view
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: multiple lines (code still needs some work)
  apps/frontend/src/app/app.config.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/envData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/pumpData.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

refactor: attempt at typesafety
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/chart.interfaces.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/envData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/pumpData.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: label the charts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

fix: add timeseries modul to app.modul
  apps/backend/src/app/app.module.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: dockerfile
  apps/backend/Dockerfile
  package.json
Due: nx format:write --uncommitted

fix: add cases to backend
  apps/backend/src/app/app.module.ts
  libs/cases/backend/case-management/src/lib/case-managament.module.ts
  tsconfig.base.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

fix: timeseries not working anymore
  libs/facilities/backend/timeseries/.eslintrc.json
  libs/facilities/backend/timeseries/jest.config.ts
  libs/facilities/backend/timeseries/project.json
  libs/facilities/backend/timeseries/tsconfig.json
  libs/facilities/backend/timeseries/tsconfig.lib.json
  libs/facilities/backend/timeseries/tsconfig.spec.json
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: 77: Removed field and added tiles like in "create-Cases"
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor(backend): added manual exception filter
  apps/backend/src/main.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/common/backend/prisma/src/lib/index.ts
  libs/common/backend/prisma/src/lib/prisma-client-exception/prisma-client-exception.filter.spec.ts
  libs/common/backend/prisma/src/lib/prisma-client-exception/prisma-client-exception.filter.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

feat: 77: changed back to a Details Field
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: 77: added status to basic Information and added color for it
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.scss
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: 77: added status to basic Information and added color for it
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
Due: nx affected --target lint --uncommitted, nx format:write --uncommitted

Path conditions:
  nx affected --target lint --uncommitted: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: ((any of: *.{html,ts,js,mjs}) or (any of: *.{json,md,yml})) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
