Repository amosproj/amos2024ss01-xcelerator-demo-app: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

fix: rebase issues
  Documentation/images/screenshots04.06/.gitkeep
  Documentation/images/screenshots04.06/createCase (2).png
  Documentation/images/screenshots04.06/facilitiesDB.png
  Documentation/images/screenshots04.06/facilitiesDBView.png
  Documentation/images/screenshots04.06/loginPage.png
  Documentation/images/screenshots04.06/openCases.png
  Documentation/images/screenshots04.06/pumpData1.png
  Documentation/images/screenshots04.06/pumpData2.png
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
Due: nx affected --target eslint --fix

feat: added "about & leagal information" and short description on home page
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/components/header/header.component.html
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/app/components/header/legal-information/legal-information.component.html
  apps/frontend/src/app/components/header/legal-information/legal-information.component.scss
  apps/frontend/src/app/components/header/legal-information/legal-information.component.spec.ts
  apps/frontend/src/app/components/header/legal-information/legal-information.component.ts
  apps/frontend/src/app/pages/home/home.component.html
  apps/frontend/src/app/pages/home/home.component.scss
  apps/frontend/src/app/pages/home/home.component.spec.ts
  apps/frontend/src/app/pages/home/home.component.ts
  apps/frontend/src/assets/Xcelerator.jpg
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

refactor: bigger seeder
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  prisma/seed.ts
  prisma/test.ts
Due: nx affected --target eslint --fix

Add files via upload
  Deliverables/sprint-06/planning-documents.pdf
Due: none

Add files via upload
  Deliverables/sprint-06/feature-board.png
Due: none

Add files via upload
  Deliverables/sprint-06/feature-board.csv
Due: none

feat: 147 made the details page show the correct information
  libs/cases/frontend/view/src/lib/components/case.mocks/const.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.scss
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

chore(frontend): resolved conflicts between develop and feat/xd-109
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/components/header/header.component.ts
  apps/frontend/src/models/interceptors/backend-url.interceptor.spec.ts
  libs/account/frontend/view/src/lib/components/login/login.page.spec.ts
  libs/account/frontend/view/src/lib/components/login/login.page.ts
  libs/cases/backend/case-management/src/lib/case-management.module.ts
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.spec.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.spec.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.spec.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.html
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/browse/browse.page.ts
  libs/facilities/frontend/view/src/lib/components/detail/chart/chart.component.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.html
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/detail/detail.page.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/chart.interfaces.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/envData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/processData.ts
  libs/facilities/frontend/view/src/lib/components/facility.mocks/charts/pumpData.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.spec.ts
  libs/facilities/frontend/view/src/lib/components/issues/issues.page.ts
Due: nx affected --target eslint --fix

refactor(backend): improved case error handling
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/common/backend/prisma/src/lib/prisma-client-exception/prisma-client-exception.filter.ts
  package.json
  pnpm-lock.yaml
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat(backend): added debug mode to error handling
  libs/cases/backend/case-management/src/lib/services/case.service.ts
  libs/common/backend/prisma/src/lib/prisma-client-exception/prisma-client-exception.filter.ts
Due: nx affected --target eslint --fix

feat: 144: Set up case-brows-page, so that I can start development
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.html
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.scss
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.spec.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/index.ts
  libs/cases/frontend/view/src/lib/components/index.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat: 144: Added to table, sort, color, higlighting, view open button
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/case.interface.ts
  libs/cases/frontend/view/src/lib/components/case.mocks/const.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.html
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.scss
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/index.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.scss
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target eslint --fix, nx format:write --uncommitted, nx affected --target stylelint --fix

feat(frontend): added GET + POST case operatios TODO: add DELETE + UPDATE, fix Date in POST #104
  libs/cases/frontend/domain/src/lib/application/facades/browse.facades.ts
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
  package.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat: 147 changed overdue indicator from box to red text
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
Due: nx affected --target eslint --fix

fix(frontend): fixed dueDate in Case Create Page
  libs/cases/frontend/domain/src/lib/infrastructure/cases-request.service.ts
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

feat(frontend): added Toast to Case Creation
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
Due: nx affected --target eslint --fix

refactor: update seeder :seedling:
  pnpm-workspace.yaml
  prisma/migrations/20240608183340_/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
  tsconfig.base.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

feat: add comments for the facilities service
  libs/facilities/backend/facilities/src/lib/service/faclities.service.ts
Due: nx affected --target eslint --fix

feat: add facility seeder & aspect seeder
  libs/common/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/aspect-response.interface.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/assets-response.interface.ts
  libs/common/backend/insight-hub/src/lib/models/interfaces/index.ts
  libs/common/backend/insight-hub/src/lib/services/assets.service.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
  libs/facilities/backend/facilities/src/lib/facilities.module.ts
  libs/facilities/backend/facilities/src/lib/service/faclities.service.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  prisma/migrations/20240610134342_/migration.sql
  prisma/schema.prisma
Due: nx affected --target eslint --fix

fix: imports
  libs/common/backend/insight-hub/src/lib/insight-hub.module.ts
  libs/common/backend/insight-hub/src/lib/services/index.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
Due: nx affected --target eslint --fix

fix: time Series tests
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/query.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/backend/timeseries/src/lib/timeseries.module.ts
  libs/facilities/shared/models/src/lib/interfaces/query.interface.ts
Due: nx affected --target eslint --fix

refactor: fix facilitie imports
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
  libs/facilities/backend/facilities/src/lib/facilities.module.ts
Due: nx affected --target eslint --fix

fix: timeSeriesService imports
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
Due: nx affected --target eslint --fix

refactor: prisma Schema
  .swp
  libs/facilities/backend/facilities/src/lib/service/faclities.service.ts
  pnpm-workspace.yaml
  prisma/schema.prisma
  prisma/seed.ts
  xcelerator-demo/.editorconfig
  xcelerator-demo/.gitignore
  xcelerator-demo/.npmrc
  xcelerator-demo/.vscode/extensions.json
  xcelerator-demo/README.md
  xcelerator-demo/nx.json
  xcelerator-demo/package.json
Due: nx affected --target eslint --fix, nx format:write --uncommitted

refactor: update seeder :seedling:
  prisma/seed.ts
Due: nx affected --target eslint --fix

refactor: rename entityId to assetId
  libs/common/backend/insight-hub/src/lib/models/interfaces/time-series-request.interface.ts
  libs/common/backend/insight-hub/src/lib/services/iot-time-series.service.ts
  libs/common/shared/models/src/lib/interfaces/time-series-item.interface.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/dto/params.dto.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.spec.ts
  libs/facilities/frontend/domain/src/lib/application/facades/browse.facade.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.spec.ts
  libs/facilities/frontend/domain/src/lib/infrastructure/timeseries-request.service.ts
  libs/facilities/shared/models/src/lib/interfaces/params.interface.ts
  libs/facilities/shared/models/src/lib/interfaces/response.interface.ts
  prisma/migrations/20240608192408_/migration.sql
  prisma/schema.prisma
Due: nx affected --target eslint --fix

fix: disable current seed script
  prisma/seed.ts
Due: nx affected --target eslint --fix

fix: adjust seeder
  prisma/seed.ts
Due: nx affected --target eslint --fix

feat: add dto to the single timeseries item endpoint
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
Due: nx affected --target eslint --fix

refactor: adjust the timeseries tests
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.spec.ts
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
  libs/facilities/backend/timeseries/src/lib/services/timeseries.service.spec.ts
Due: nx affected --target eslint --fix

fix: what is that spacing?
  libs/facilities/backend/timeseries/src/lib/dto/query.dto.ts
Due: nx affected --target eslint --fix

feat: add facilities dto
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.spec.ts
  libs/facilities/backend/facilities/src/lib/controller/facilities.controller.ts
  libs/facilities/backend/facilities/src/lib/dto/params.dto.ts
  libs/facilities/shared/models/src/lib/interfaces/params.interface.ts
Due: nx affected --target eslint --fix

feat(frontend): improved case detailspage and case list
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.html
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
Due: nx affected --target eslint --fix

feat: 144: Improved code-quality
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.html
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.html
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target eslint --fix

fix(frontend): fixed date picker for case creation
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
Due: nx affected --target eslint --fix

feat: 144: Changed colors to the siemens ones
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.scss
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.scss
Due: nx format:write --uncommitted, nx affected --target stylelint --fix

feat: 144: fixing lints
  libs/cases/frontend/shell/src/lib/shell.routes.ts
  libs/cases/frontend/view/src/lib/components/cases-brows/case-brows.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target eslint --fix

feat: removed console errors and fixed linting errors. Added accessor class for dueDate
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.html
  libs/cases/frontend/view/src/lib/components/create-case/create-case.component.ts
  libs/cases/frontend/view/src/lib/components/create-case/date-dropdown-accessor.ts
  libs/cases/frontend/view/src/lib/components/detail-case/detail-case.component.ts
  libs/cases/frontend/view/src/lib/components/open-cases/open-cases.component.ts
Due: nx affected --target eslint --fix

fix: timeseries without property set name
  libs/facilities/backend/timeseries/src/lib/controller/timeseries.controller.ts
Due: nx affected --target eslint --fix

Path conditions:
  nx affected --target eslint --fix: any of: *.{html,ts,js,mjs}
  nx format:write --uncommitted: (any of: *.{json,md,yml}) or (any of: *.{scss,css})
  nx affected --target stylelint --fix: any of: *.{scss,css}
